<!DOCTYPE HTML>

<html lang="en">

	<head>
		<!-- Website meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A website by MWM for travelling purposes." />
		<meta name="author" content="MwM Corporation" />
		<title>MWM Gooo &mdash; Trang chủ</title>

		<!-- Website fonts -->

		<!-- Website styles files -->
		<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">

	</head>

	<body>
		
		<!-- Navigation bar -->
		<nav class="nav" role="navigation">
			<img class="nav-logo" src="static/images/mwm-logo.png">
			<div class="nav-container">
				<a class="nav-item" href="destination">Điểm đến</a>
				<a class="nav-item" href="blog">Blog</a>
				<a class="nav-item" href="contact">Liên hệ</a>
			</div>
		</nav>

	</body>

</html>

